<script type="text/javascript">
  $(document).ready(function() {
  $("#trendPlotCategoryMenu li span").html("<%= session[:category] %>");
  $("#trendPlotCategoryField").html("<%= session[:category] %>");
  $("#trendPlotPeriodField").val("<%= session[:period] %>");
  $("#trendPlotStartDateField").val("<%= session[:trendStartDate] %>");
  $("#trendPlotEndDateField").val("<%= session[:trendEndDate] %>");

  $("#trendPlotStartDateField").datepicker({ dateFormat: "MM dd, yy" });
  $("#trendPlotEndDateField").datepicker({ dateFormat: "MM dd, yy" });
  
  $("ul#trendPlotCategoryMenu.menu").on("click", "li ul li a", function() {
  
	 $("ul#trendPlotCategoryMenu.menu li span").text($(this).text());
	 $("#trendPlotCategoryField").val($(this).text());
  });


  
$.plot($("#trendPlotArea"), [
    {
     color: "orange",
     data: <%= @report.y_data %>,
     bars: {show: true, barWidth: 0.7, align: "center", fill: 0.6}, 
    }
  ],

  {
  xaxis :{
  ticks: <%= raw(@ticks) %>,
  min: 0,
  max: <%= @report.x_data.count+1 %>,
  
  },

  
  }

  );

  });
</script>



<div id="trendPlotDiv" style="background:#FFF">
  <div id="trendPlotTitle"><%= @report.title %></div>
  <div id="trendPlotArea" style="height:400px; "></div>
</div>

<div id="trendPlotFilter">
  <%= render "filter" %>
</div>

