<div id="total_expenses">
  <div>TOTAL</div><div class="total_value"><%= @total_expenses %></div>
</div>

   <% @expenses.each do |t| %>
  <% if t.id != nil %>
  <div class="table_row">
    <div class="table_row_header"><div class="table_data date_data"><%= t.date.strftime("%B %d, %Y") %></div><div class="table_data category_data"><%= t.category.capitalize %></div><div class="table_data value_data"><%= t.value %></div></div>
    <div class="table_row_description">
      <div class="description"><%= t.description %></div>
      <div class="links_data">
	 <%= link_to "edit", [:edit, t], remote: true %>
	 <%= link_to "delete", t, method: :delete, remote: true %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

  
