<script>
  $(document).ready(function(){
    $("#date_expense_select_fields").val("<%= session[:date] %>");
    $("ul#filter_expenses_category_menu.menu li span").text("<%= session[:filter_category] %>");
    $("#filter_category").val("<%= session[:filter_category] %>");
    $("#start_date_expense").val("<%= session[:startDate] %>");
    $("#end_date_expense").val("<%= session[:endDate] %>");
    
    if ($("#date_expense_select_fields").val() == "custom") {
      $("#custom_date_expense_fields").show();
    }  
  });
</script>

<div id="tabs" class="group">


<ul>
  <li><a href="#expenses"><span>Expenses</span></a></li>
  <li><a href="#revenues"><span>Revenues</span></a></li>
</ul>




<section id="expenses">

<div id="expenses_table">
  <%= render "expenses" %>
  
 </div>

<div id="expenses_filter" class="filter">
  <%= render "expensefilter" %>
</div>

<div class="table_form" id="table_expenses_form">
  <%= render "formexpenses" %>
</div>
<div class="table_form_handle" id="expenses_handle">Add Expenses</div>

<div class="table_form_handle" id="category_handle">Add Category</div>

<div id="expense_category_form">
  <%= form_for @category, url:add_category_transactions_path, html: {id: "new_expense_category"}  do |g| %>
  <%= g.text_field :title, placeholder: "Title", cols:32 %><br/ >
  <%= g.hidden_field :transaction_type, value: "false" %>
  <%= g.submit "Add Category" %>
  <% end %>
  <%= link_to "close", "#" %>
</div>

<div class="table_form" id="expense_edit_form">
  <%= render "editexpense" %>
</div>
<div class="filler"></div>

</section>





<section id="revenues">
<table id="revenues_table">
  <% @revenues.each do |t| %>
  <% if t.id != nil %>
  <tr><td><%= t.value %></td><td><%= t.date.strftime("%B %d, %Y") %></td><td><%= t.category.capitalize %></td></tr>
  <% end %>
  <% end %>
 </table>
  
<div class="table_form">
<%= render "form_revenues" %>
</div>
</section>

</div>

