<div id="tabs" class="group">

<ul>
  <li><a href="#expenses"><span>Expenses</span></a></li>
  <li><a href="#revenues"><span>Revenues</span></a></li>
</ul>

<section id="expenses">


<div id="expenses_table">
  <%= render "expenses" %>
  
 </div>


<div class="table_form">
  <%= render "form_expenses" %>
</div>

<div id="expense_category_form">
  <%= form_for @category,  html: {id: "new_expense_category"}  do |g| %>
  <%= g.text_field :title, placeholder: "Title", cols:32 %><br/ >
  <%= g.submit "Add Category" %>
  <% end %>
  <%= link_to "close", "#" %>
</div>

</section>





<section id="revenues">
<table id="revenues_table">
  <% @revenues.each do |t| %>
  <% if t.id != nil %>
  <tr><td><%= t.value %></td><td><%= t.date.strftime("%B %d, %Y") %></td><td><%= t.category.capitalize %></td></tr>
  <% end %>
  <% end %>
 </table>
  
<div class="table_form">
<%= render "form_revenues" %>
</div>
</section>

</div>
