<!DOCTYPE html>
<html>
<head>
  <title>Ha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<nav>
  <% if user_signed_in? %>
  <ul>
    <li><%= link_to "Transactions", transactions_path %></li>
    <li><%= link_to "Reports", trend_reports_path %></li>
    <li><%= current_user.name.capitalize %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
  
  <% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <% end %>

</nav>
</header>

<p id="alert">
  <%= flash[:alert] %>
</p>
<p id="notice">
  <%= flash[:notice] %>
</p>


<section id="main_content" class="fluid-container">
<%= yield %>
</section>

</body>
</html>
